#footer {
    background-color: #0a1128;
    padding: 20px;
}

#footer ul {
    display: flex;
    justify-content: space-evenly;
}

#footer li {
    list-style: none;
}

#footer a {
    font-family: 'Open Sans', sans-serif;
    color: #f1faee;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#footer a:hover {
    color: #457b9d;
}

#hamburger {
    position: absolute;
    display: none;
    color: white;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 100;
    user-select: none;
}

@media all and (max-width: 768px) {
    footer ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    footer ul a {
        padding: 10px;
    }
    #hamburger {
        display: block;
    }
}